<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Getting Started with Hello Sign</h1>
    <%= link_to ('<span class="glyphicon glyphicon-download"></span>Create Template').html_safe, create_template_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
